<div class="sidebar">
  <div class="categories">
    <p class="header-title">Categories</p>
    <span *ngIf="category">
      <a class="a-link" (click)="resetCategory()">&lt; Clear</a>
    </span>
    <div *ngFor="let item of categoriesList; let i = index">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          id="category{{ i }}"
          name="categoryFilter"
          (change)="getCategory()"
          value="{{ item }}"
          [(ngModel)]="category"
        />
        <label class="form-check-label" for="category{{ i }}">
          {{ item }}
        </label>
      </div>
    </div>
  </div>

  <br />
  <div class="price">
    <p class="header-title">Price</p>
    <span *ngIf="price">
      <a class="a-link" (click)="resetPrice()">&lt; Clear</a>
    </span>
    <div *ngFor="let item of priceList">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          id="{{ item }}"
          name="priceFilter"
          value="{{ item }}"
          [(ngModel)]="price"
          (change)="getPrice()"
        />
        <label class="form-check-label" for="{{ item }}"> {{ item }} </label>
      </div>
    </div>
  </div>

  <br />
  <div class="rate">
    <p class="header-title">Avg. Customer Review</p>
    <span *ngIf="review">
      <a class="a-link" (click)="resetReview()">&lt; Clear</a>
    </span>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        id="four-star"
        name="rateFilter"
        value="4"
        [(ngModel)]="review"
        (change)="getAccrodingToCustomersReview()"
      />
      <label class="form-check-label" for="four-star">
        <app-stars-rate [star]="[1, 2, 3, 4]" [start_border]="[1]"></app-stars-rate>
      </label>
    </div>

    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        id="three-star"
        name="rateFilter"
        value="3"
        [(ngModel)]="review"
        (change)="getAccrodingToCustomersReview()"
      />
      <label class="form-check-label" for="three-star">
        <app-stars-rate [star]="[1, 2, 3]" [start_border]="[1, 2]"></app-stars-rate>
      </label>
    </div>

    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        id="two-star"
        name="rateFilter"
        value="2"
        [(ngModel)]="review"
        (change)="getAccrodingToCustomersReview()"
      />
      <label class="form-check-label" for="two-star">
        <app-stars-rate [star]="[1, 2]" [start_border]="[1, 2, 3]"></app-stars-rate>
      </label>
    </div>

    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        id="one-star"
        name="rateFilter"
        value="1"
        [(ngModel)]="review"
        (change)="getAccrodingToCustomersReview()"
      />
      <label class="form-check-label" for="one-star">
        <app-stars-rate [star]="[1]" [start_border]="[1, 2, 3, 4]"></app-stars-rate>
      </label>
    </div>
  </div>
</div>
