.sidebar {
  height: 100%;
  border-right: 1px solid #dedede;
  margin-top: 15px;
  margin-left: 15px;
}

/* type of filtering style */
.header-title {
  font-weight: 550;
  font-size: 18px;
}

label,
input,
.form-check {
  cursor: pointer;
  font-size: 14.5px;
}

/* Link */
.a-link {
  text-decoration: none;
  color: black;
}

label:hover,
.form-check:hover,
.a-link:hover {
  color: #c00000;
}
