<app-container>
  <form id="tsform">
    <!-- Email form to send Reset Token -->
    <fieldset>
      <h2 class="paragraph" *ngIf="pageNumber == 0 || pageNumber == 2">
        Reset Password
      </h2>
      <div class="error-message" *ngIf="errorMessage">
        <span>
          <i class="fa fa-exclamation-triangle note"></i> &nbsp;
          <span [innerHTML]="errorMessage"></span>
        </span>
      </div>
      <form
        [formGroup]="forgetPasswordForm"
        (ngSubmit)="submitRequest()"
        *ngIf="pageNumber == 0"
      >
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            id="email"
            type="email"
            formControlName="email"
            class="form-control"
            placeholder="example@mail.com"
            (mousedown)="cleanErrorMessage()"
          />
          <small id="passwordHelp" class="form-text text-muted"
            ><i class="fa fa-exclamation-circle note"></i> Enter the email
            address associated with your Panadol account.
          </small>
        </div>
        <button
          class="btn btn-primary mb-4"
          type="submit"
          [disabled]="!forgetPasswordForm.valid"
        >
          Continue
        </button>
      </form>

      <!-- Reset Password Form -->
      <form
        [formGroup]="resetPasswordForm"
        (ngSubmit)="resetPassword()"
        *ngIf="pageNumber == 2"
      >
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <div class="input-group">
            <input
              formControlName="password"
              class="form-control"
              id="password"
              [type]="this.validator.passwordFieldType ? 'text' : 'password'"
              placeholder="At least 6 chars with upper & lower"
              minlength="6"
              (mousedown)="cleanErrorMessage()"
            />
            <span
              class="input-group-text"
              (click)="this.validator.togglePasswordFieldType()"
            >
              <i
                class="fa"
                [ngClass]="{
                  'fa-eye-slash': this.validator.passwordFieldType,
                  'fa-eye': !this.validator.passwordFieldType
                }"
              ></i>
            </span>
          </div>
          <small id="passwordHelp" class="form-text text-muted"
            ><i class="fa fa-exclamation-circle note"></i> At least 6 characters
            with upper & lower.
          </small>
        </div>
        <div class="mb-3">
          <label for="confirmPass" class="form-label"> Confirm Password </label>
          <div class="input-group">
            <input
              formControlName="confirmPassword"
              class="form-control"
              id="confirmPass"
              [type]="this.validator.conPasswordFieldType ? 'text' : 'password'"
              (mousedown)="cleanErrorMessage()"
            />
            <span
              class="input-group-text"
              (click)="this.validator.toggleConPasswordFieldType()"
            >
              <i
                class="fa"
                [ngClass]="{
                  'fa-eye-slash': this.validator.conPasswordFieldType,
                  'fa-eye': !this.validator.conPasswordFieldType
                }"
              ></i>
            </span>
          </div>
          <small
            *ngIf="
              resetPasswordForm.getError('misMatch') &&
              this.resetPasswordForm.get('confirmPassword')?.touched
            "
            class="form-text text-muted"
          >
            <i class="fa fa-exclamation-circle note"></i>
            Passwords do not match
          </small>
        </div>
        <button
          class="btn btn-primary mb-4"
          type="submit"
          [disabled]="!resetPasswordForm.valid"
        >
          Continue
        </button>
      </form>
      <!--End of Reset Password Form-->
    </fieldset>

    <!-- Verification of OTP -->
    <fieldset>
      <form
        [formGroup]="otpPasswordForm"
        (ngSubmit)="checkResetToken()"
        *ngIf="pageNumber == 1"
      >
        <h2 class="paragraph">Verify Email Address</h2>
        <hr />
        <div class="error-message" *ngIf="OTPErrorMessage">
          <span>
            <i class="fa fa-exclamation-triangle note"></i> &nbsp;
            <span [innerHTML]="OTPErrorMessage"></span>
          </span>
        </div>
        <p>
          To verify your email, we've sent an email with verification token link
          to <strong>{{ email }}.</strong>
        </p>
        <div class="mb-3">
          <label for="OTP" class="form-label">OTP</label>
          <input
            formControlName="OTP"
            id="OTP"
            class="form-control"
            (mousedown)="cleanErrorMessage()"
          />
          <small
            *ngIf="
              this.errorMessage && this.otpPasswordForm.get('OTP')?.touched
            "
            class="form-text text-muted"
            ><i class="fa fa-exclamation-circle note"></i>
            {{ errorMessage }}</small
          >
        </div>
        <button
          class="btn btn-primary mb-4"
          type="submit"
          [disabled]="!otpPasswordForm.valid"
        >
          Continue
        </button>
        <div class="actions-verify-email">
          <a class="a-link" (click)="resendVerificationMail()">
            Resend Verification Mail
          </a>
        </div>
      </form>
    </fieldset>
    <!-- End of Verification of OTP-->
  </form>
</app-container>
