<app-header [searchTerm]="searchTerm"></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 col-sm-3">
      <app-side-bar
        [category]="categoryFilter"
        [price]="priceFilter"
        [review]="reviewFilter"
      ></app-side-bar>
    </div>
    <div class="col-lg-10 col-sm-8">
      <div class="products">
        <div
          class="product"
          *ngFor="let item of productsToBeViewed; let indexOfelement = index"
        >
          <div (click)="viewProduct(item.productId)">
            <!-- Show Products Details Circle On Hover -->
            <div *ngIf="!myPersonalProducts" class="hover-overlay">
              <div class="circle">
                <span class="label">Show Product</span>
              </div>
            </div>
            <!-- Product Details -->
            <img
              src="data:image/jpeg;base64,{{ item.image }}"
              alt="product image"
            />
            <div class="basic-info">
              <p class="truncate">{{ item.title }}</p>
              <p class="price-elegent">
                <span class="price-symbol">$ </span> {{ item.price }}
              </p>
              <div class="rate-info">
                <span class="rate-percentage">{{ item.rate }}</span>
                <div *ngIf="item?.starTypes">
                  <app-stars-rate
                  [star]="item.starTypes.star"
                  [start_border]="item.starTypes.star_border"
                  [start_half]="item.starTypes.star_half"
                ></app-stars-rate>
                </div>
              </div>
              <div class="stock">
                <span class="stock-info" *ngIf="item.inStock != 0">
                  In Stock
                </span>
                <span class="stock-info" *ngIf="item.inStock == 0">
                  Out Of Stock
                </span>
              </div>
            </div>
            <!-- Two Buttons If You're a SELLER and need your products -->
            <div *ngIf="myPersonalProducts" class="seller-actions align-center">
              <button
                class="btn btn-primary"
                (click)="editProduct(item.productId)"
              >
                Edit
              </button>
              <button class="btn btn-primary">Delete</button>
            </div>
          </div>
        </div>
        <div
          *ngIf="showMore && productsToBeViewed.length != 0"
          (click)="showProducts()"
        >
          <span class="show-more-span"> Show more </span>
        </div>
      </div>
    </div>
  </div>
</div>
