/* List Of Products */
.products {
  padding: 20px;
  display: grid;
  /* each column takes 270px */
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  row-gap: 20px;
  /* add horizontal scrollbar if necessary */
  overflow-x: auto;
  /* set minimum width for the grid container */
  min-width: 300px;
  justify-content: center;
}

.product {
  position: relative;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(241, 241, 241);
  /* product box width 260px */
  width: 260px;
  padding: 2px 2px 20px 2px;
  text-align: left;
}

.product img {
  width: 100%;
  height: 200px;
}

/* Title & Basic Elegence */
.basic-info {
  margin-left: 4px;
  margin-top: 14px;
}

.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
}

/* Price */
.price-elegent {
  font-size: 20px;
  font-weight: bold;
  margin-top: 12px;
}

.price-symbol {
  position: relative;
  top: -0.5em;
  font-size: 14px;
  font-weight: normal;
}

/* Rate & Review */
.rate-percentage {
  /* position need to be relative to use top */
  position: relative;
  top: -0.5em;
  font-size: 16px;
  font-weight: 500;
  margin-right: 10px;
}

.rate-info {
  margin-bottom: 12px;
}

/* In Stock */
.stock-info {
  padding: 5px;
  font-size: 16px;
  background-color: #f80909;
  color: white;
  cursor: pointer;
}

/* See More */
.show-more-span {
  border-bottom: 2px solid black;
  padding: 1px;
  font-size: 18px;
  cursor: pointer;
}

.show-more-span:hover {
  color: blue;
  border-color: blue;
}

/* Hover over product */
.hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.product:hover .hover-overlay {
  opacity: 1;
}

.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  font-size: 15px;
  color: black;
}
