<app-header></app-header>
<div class="container">
  <section id="cart" *ngFor="let item of product; let indexOfelement = index">
    <article class="product">
      <header>
        <a class="remove">
          <img
            src="data:image/jpeg;base64,{{ item.image }}"
            alt="Product #{{ indexOfelement }}"
          />
          <h3 (click)="removeProduct(indexOfelement)">Remove product</h3>
        </a>
      </header>
      <div class="content" (click)="viewProduct(item.productId)">
        <h1>{{ item.title }}</h1>
        <p>{{ item.description }}</p>
      </div>
      <footer class="content">
        <button
          class="qt-minus"
          id="minus"
          (click)="subtractOneItem(indexOfelement)"
        >
          &minus;
        </button>
        <span class="qt" id="quan">{{ item.quantity }}</span>
        <button class="qt-plus" id="plus" (click)="addOneItem(indexOfelement)">
          &plus;
        </button>
        <h2 class="full-price" title="Total price">&dollar; {{ item.price * item.quantity }} </h2>
        <h2 class="price" title="Price per item">&dollar; {{ item.price }} </h2>
      </footer>
    </article>
  </section>
</div>

<footer id="site-footer">
  <div class="container clearfix">
    <div class="left">
      <button class="btn btn-primary" (click)="deleteAll()">
        Delete All Items
      </button>
      <h2 class="subtotal">
        Subtotal: <span> {{ subtotal }} $ </span>
      </h2>
      <h3 class="tax">
        Taxes ({{ TAX_PERCENTAGE }}%): <span> {{ tax }} $ </span>
      </h3>
      <h3 class="shipping">
        Shipping: <span> {{ shipping }} $ </span>
      </h3>
    </div>
    <div class="right">
      <button class="btn btn-primary" (click)="backHome()">
        Continue Shopping
      </button>
      <h1 class="total">
        Total: <span> {{ total }} $ </span>
      </h1>
      <button class="btn btn-primary" (click)="checkout()">Checkout</button>
    </div>
  </div>
</footer>
